<header>Reviews for <%= link_to(@wine.name, @wine) %></header>
<ol id="reviews">
  <% @logentries.each do |review| %>
    <li>
      <span class="review"><%= pluralize(review.rating, 'rating') %></span>
      <span class="user">by <%= review.name %> </span>
      <span class="date">
        <%= time_ago_in_words(review.created_at) %> ago
      </span>
      <p>
        &quot;<%= review.comments %>&quot;
      </p>
    </li>
  <% end %>
</ol>
<%= link_to 'Write a Review', new_wine_logentry_path(@wine),
        remote: true,
        data: { 'update-target' => 'logentry_form_container' },
        class: 'btn btn-primary' %>

<div id="logentry_form_container"></div>