<h1>Wines</h1>
<p>Available as of <%= @available_at %></p>
<ol>
<% @wines.each do |wine| %>
  <li>Name: <%= link_to(wine.name, wine) %>
      Winery: <%= wine.winery %>
      Varietal: <%= wine.varietal %></li>
<% end %>
<%= link_to 'New Wine', new_wine_path %>
</ol>